* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.head-line h1 {
    background-color: black;
    color: white;
    width: 416px;
}

.first-page {
    background-image: url('/homework/bootstrap5/day2/day3/bg-top.JPG');
    /* height: 100vh; */
}

.pic-1 {
    background-image: url('/homework/bootstrap5/day2/day3/1.jpg');

}

.form input{
    display: block;
    padding: 20px;
}

.form {
    text-align: center;
}

.form-p p {
    font-size: 20px;
    text-align: center;

}

.third-page {
    background-color: rgb(240,233,228);
    

}
.verticalLine {
    height: 70%;
    border-right: 1px solid #000900;
    position: absolute;
    right: 50%;
}
/* 
hr {
    transform: rotate(90deg);

} */

@media (max-width: 767px) {
    .second-page img {
        display: inline-flex;
        width: 10%;
        height: 20%;
    }
}

@media (max-width: 768px) {
    .form {
        width: 100%;
    }

    .second-page img {
        display: block;
        width: 20%;
        height: 15%;
    }
}
